Repository WildCodeSchool/2109-wns-remote2-excelant, pull requests merged in 2022-02, with the labels that each got.

#89 Ticket status
  web-client/src/components/tasks/CreateTaskModal.tsx
Labels: review needed

#91 Feature/api find one task
  server/src/resolvers/task.resolver.ts
  server/src/schema/task.find.ts
  server/src/service/task.service.ts
Labels: review needed, api server

#90 Support/task
  web-client/package-lock.json
  web-mobile/.gitignore
  web-mobile/components/screens/task/CreateTaskPage.tsx
  web-mobile/components/screens/task/Task.tsx
  web-mobile/components/screens/task/TaskScreen.tsx
  web-mobile/yarn.lock
Labels: review needed, app mobile

#101 [mobile] Single task screen
  web-mobile/App.tsx
  web-mobile/components/navigation/Header.tsx
  web-mobile/components/navigation/TaskNavigation.tsx
  web-mobile/components/screens/task/SingleTaskScreen.tsx
  web-mobile/components/screens/task/Task.tsx
  web-mobile/components/screens/task/TaskScreen.tsx
  web-mobile/components/screens/task/TasksScreen.tsx
  web-mobile/components/task/PressableTask.tsx
  web-mobile/components/task/Task.tsx
  web-mobile/package-lock.json
  web-mobile/package.json
  web-mobile/yarn.lock
Labels: review needed, app mobile

#106 fix update task input project type
  server/src/schema/Task/task.update.ts
Labels: review needed, api server

#112 Feature/display single project
  server/src/resolvers/project.resolver.ts
  server/src/schema/Project/project.find.ts
  server/src/service/project.service.ts
  web-mobile/components/navigation/Header.tsx
  web-mobile/components/navigation/ProjectNavigation.tsx
  web-mobile/components/project/PressableTask.tsx
  web-mobile/components/project/Project.tsx
  web-mobile/components/screens/project/Project.tsx
  web-mobile/components/screens/project/ProjectScreen.tsx
  web-mobile/components/screens/project/SingleProjectScreen.tsx
Labels: review needed, api server, app mobile
