Repository WildCodeSchool/2109-wns-remote2-excelant, pull requests merged in 2022-04, with the labels that each got.

#124 Feature/task edition
  web-client/src/components/tasks/TaskModal.tsx
  web-client/src/components/tasks/TaskTable.tsx
  web-client/src/components/tasks/TaskTableItem.tsx
Labels: review needed

#123 mise en place du theme et changements associés
  web-client/.eslintrc.json
  web-client/src/components/navbar/NavBar.tsx
  web-client/src/components/projects/ProjectModal.tsx
  web-client/src/components/projects/ProjectsTable.tsx
  web-client/src/components/tasks/TaskModal.tsx
  web-client/src/components/tasks/TaskTable.tsx
  web-client/src/index.tsx
  web-client/src/pages/HomePage.tsx
  web-client/src/pages/ProjectsPage.tsx
  web-client/src/pages/TasksPage.tsx
  web-client/src/pages/UsersPage.tsx
  web-client/src/theme/Theme.tsx
Labels: review needed, client web

#127 Feature/project pagination
  server/package-lock.json
  server/package.json
  server/src/resolvers/project.resolver.ts
  server/src/schema/Project/project.findpage.ts
  server/src/schema/Project/project.page.ts
  server/src/schema/Project/project.schema.ts
  server/src/service/project.service.ts
  server/src/utils/PaginateMethodType.ts
  web-client/src/_graphql/GqlRequest.ts
  web-client/src/components/projects/ProjectsTable.tsx
Labels: review needed, client web, api server

#126 Client form
  server/src/resolvers/user.resolver.ts
  server/src/schema/User/user.create.ts
  server/src/schema/User/user.schema.ts
  web-client/package-lock.json
  web-client/package.json
  web-client/src/components/form/Login.tsx
  web-client/src/components/form/Register.tsx
  web-client/src/images/logo_excelant.jpg
  web-client/src/routes/BaseRoutes.tsx
  web-client/src/yupSchema/Login.tsx
  web-client/src/yupSchema/Register.tsx
Labels: review needed, client web

#128 Feature/test task project pages
  web-client/src/components/projects/ProjectTableItem.tsx
  web-client/src/components/tasks/TaskTableItem.tsx
  web-client/src/tests/Project.test.tsx
  web-client/src/tests/Task.test.tsx
Labels: review needed, client web

#142 Fix task docker compose
  docker-compose.dev.yml
  web-client/src/components/tasks/TaskModal.tsx
Labels: review needed, client web

#147 handle task description
  docker-compose.yml
  server/src/schema/Task/task.create.ts
  server/src/schema/Task/task.schema.ts
  server/src/schema/Task/task.update.ts
  server/src/server.ts
  web-client/src/_types/_taskTypes.ts
  web-client/src/components/tasks/CreateTaskModal.tsx
  web-client/src/components/tasks/TaskModal.tsx
  web-client/src/components/tasks/TaskTable.tsx
Labels: conflicts
